body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

body h2 {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

body h3 {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
}

.header {
  margin: 0;
  min-height: 56px;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  margin: 0;
  padding-left: 6%;
  padding-right: 6%;
  background-color: #ffffff;
}

.navigation .navigation-flex-right {
  margin-left: auto;
}

.navigation li {
  margin: 0;
  width: 20%;
  line-height: 56px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
}

.navigation li:first-child {
  text-align: left;
}

.navigation li:last-child {
  text-align: right;
}

.navigation a {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation a:hover {
  color: #81b3d2;
}

.navigation a:active {
  color: #b2b2b2;
}

.navigation .active a {
  color: #766357;
  cursor: no-drop;
}

.navigation li:nth-of-type(2) {
  padding-right: 55px;
  box-sizing: border-box;
}

.navigation li:nth-child(3) {
  padding-left: 60px;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 100;
transform: translateX(-50%);
}

/*--------------main--------------*/

.main-header-img {
  position: relative;
  padding-top: 75px;
  min-height: 508px;
  background-color: #97c4db;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.main-header-img::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url("../img/background-header-bottom.png");
  background-repeat: no-repeat;
  background-position: center;
}

.box-img {
  width: 458px;
  height: 356px;
  margin: 0 auto;
}

.promo {
  margin: 0;
  padding-top: 60px;
  min-height: 216px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.promo h2 {
  margin: 0 auto;
  padding-bottom: 30px;
  width: 445px;
  text-align: center;
  line-height: 26px;
}

.promo p {
  margin: 0;
  text-align: center;
}

.cause-first,
.cause-second {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cause-first-left,
.cause-second-right {
  padding-top: 55px;
  width: 33.4%;
  height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
  box-sizing: border-box;
}

.cause-first-right,
.cause-second-left {
  width: 66.6%;
  height: 256px;
  background-color: #f4caba;
  overflow: hidden;
}

.cause-first-right img,
.cause-second-left img {
  position: relative;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.cause-first-left h2,
.cause-second-right h2 {
  margin: 0 auto;
  margin-bottom: 24px;
  width: 143px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  line-height: 21px;
}

.cause-first-left span,
.cause-second-right span {
  display: block;
  text-align: center;
}

.cause-first-left p,
.cause-second-right p {
  margin: 0 auto;
  margin-top: 21px;
  max-width: 307px;
  text-align: center;
}

.features {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 330px;
  background-color: #ffffff;
}

.features-item,
.cause-rest-item {
  position: relative;
  width: 33%;
}

.features-item:first-child::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  width: 75px;
  height: 75px;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: translateX(-50%);
}

.features-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  width: 74px;
  height: 75px;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
  background-position: -101px 0;
  transform: translateX(-50%);
}

.features-item:last-child::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 57px;
  width: 64px;
  height: 75px;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
  background-position: -203px 0;
  transform: translateX(-50%);
}

.features-name {
  margin: 0;
  margin-top: 160px;
  text-align: center;
}

.features-item p {
  margin: 0 auto;
  margin-top: 20px;
  width: 290px;
  text-align: center;
}

.cause-rest {
  display: flex;
  justify-content: space-between;
  min-height: 256px;
  background-color: #eeeeee;
}

.cause-rest-item {
  text-align: center;
}

.cause-rest-item h3 {
  margin: 0 auto;;
  margin-top: 47px;
  margin-bottom: 25px;
  width: 120px;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.cause-rest-item p {
  margin: 0 auto;
  margin-top: 20px;
  width: 265px;
}

.order {
  position: relative;
  padding-top: 56px;
  height: 291px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.order h2 {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.order p {
  margin: 0 auto;
  margin-bottom: 47px;
  width: 440px;
  text-align: center;
  line-height: 23px;
}

.order a {
  display: block;
  margin: 0 auto;
  padding-top: 31px;
  padding-bottom: 31px;
  width: 568px;
  height: 88px;
  text-align: center;
  vertical-align: middle;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  background-color: #766357;
  box-sizing: border-box;
}

.order-form-none {
  display: none;
}

.order-form {
  position: absolute;
  bottom: -395px;
  left: 50%;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 55px;
  width: 568px;
  height: 395px;
  font-size: 14px;
  font-weight: bold;
  background-color: #ffffff;
  box-sizing: border-box;
  transform: translateX(-50%);
}

.order-form label:nth-of-type(1) {
  float: left;
  margin-top: 10px;
}

input[type="text"] {
    font-family: inherit;
}

.input-date-come {
  float: right;
  width: 336px;
  margin-bottom: 30px;
  padding: 11px 0 10px 11px;
  background-color: #f2f2f2;
  border: none;
}

.order-form label:nth-of-type(2) {
  float: left;
  margin-top: 45px;
}

.input-date-exit {
  float: right;
  width: 336px;
  margin-bottom: 30px;
  padding: 11px 0 10px 11px;
  background-color: #f2f2f2;
  border: none;
}

.order-form label:nth-of-type(3) {
  float: left;
  margin-top: 48px;
}

.order-form label:nth-of-type(4) {
  float: left;
  margin-top: 10px;
  margin-left: 53px;
}

.input-date-come:hover,
.input-date-exit:hover {
  background-color: #ebebeb;
}

.input-date-come:focus,
.input-date-exit:focus {
  background-color: #ffffff;
  box-shadow: inset 0 0 5px #e5e5e5;
}

input[type="text"],
input[type="number"] {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.box-input-number-grown-up {
  float: left;
  display: inline-block;
  margin: 0;
  margin-left: 40px;
  margin-bottom: 30px;
  padding: 0;
  width: 114px;
  height: 38px;
  vertical-align: top;
  font-size: 0;
  text-align: center;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.input-number-grown-up,
.input-number-child {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  border: none;
  vertical-align: top;
  text-align: center;
  background-color: #f2f2f2;
}

.box-input-number-child {
  float: right;
  display: inline-block;
  margin-bottom: 30px;
  padding: 0;
  width: 114px;
  height: 38px;
  font-size: 0;
  vertical-align: top;
  text-align: center;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.icon-calendar:nth-of-type(1) {
  position: absolute;
  display: block;
  right: 65px;
  top: 63px;
  width: 21px;
  height: 22px;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
  background-position: 0 -97px;
}

.icon-calendar:nth-of-type(2) {
  position: absolute;
  display: block;
  right: 65px;
  top: 130px;
  width: 21px;
  height: 22px;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
  background-position: 0 -97px;
}

.icon-calendar:hover {
  background-image: url("../img/sprites.png");
  background-position: -35px -97px;
}

.icon-calendar:active {
  background-image: url("../img/sprites.png");
  background-position: -70px -98px;
}

.box-input-number-grown-up button:nth-of-type(1),
.box-input-number-grown-up button:nth-of-type(2),
.box-input-number-child button:nth-of-type(1),
.box-input-number-child button:nth-of-type(2) {
  width: 38px;
  height: 38px;
  font-size: 21px;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.order-form button:hover {
  color: #000000;
}

.order-form button:active {
  color: #81b3d2;
}

.order-form button:focus,
input[type="text"]:focus {
  outline: none;
}

.order-form button[type="submit"] {
  position: static;
  clear: both;
  margin-top: 25px;
  width: 460px;
  height: 59px;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  background-color: #81b3d2;
  border: none;
  outline: none;
  cursor: pointer;
}

.order-form button[type="submit"]:hover {
  background-color: #669ec0;
}

.order-form button[type="submit"]:active {
  color: #7eb0cd;
  background-color: #5496bd;
}

.map {
  min-height: 593px;
  width: 100%;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}

.map iframe {
  width: 100%;
  height: 583px;
  border: none;
}

/*-------------------------footer-----------------*/

.inner-footer {
  position: relative;
}

.footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-item {
  width: 33.3%;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
  font-size: 0;
}

.footer-item:first-child {
  font-size: 21px;
  font-weight: bold;
}

.footer-item:last-child {
  font-size: 14px;
}

.footer-item:last-child span {
  margin-right: 2px;
}

.social-btn {
  display: inline-block;
  margin-right: 6px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
  vertical-align: middle;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active{
  background-color: #5496bd;
}

.social-btn-tv {
  background-position: -3px -199px;
}

.social-btn-tv:active {
  background-position: -51px -200px;
}

.social-btn-fb {
  background-position: -101px -201px;
}

.social-btn-fb:active {
  background-position: -150px -202px;
}

.social-btn-yt {
  background-position: -202px -203px;
}

.social-btn-yt:active {
  background-position: -252px -203px;
}

.btn {
  display: inline-block;
  width: 113px;
  height: 39px;
  vertical-align: middle;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
  background-position: 0 -136px;
}

.btn:hover {
  background-image: url("../img/sprites.png");
  background-position: -122px -131px;
}

.btn:active {
  background-image: url("../img/sprites.png");
  background-position: -244px -131px;
}

/*------------------------hotels-------------*/

.hotels-order {
  padding-left: 6%;
  padding-right: 6%;
  min-height: 218px;
  background: #3a6285 url("../img/background-hotel.jpg") no-repeat;
  background-position: top;
}

.form-hotels-order {
  display: flex;
  color: #ffffff;
}

.hotels-order-label {
  position: relative;
  display: block;
  margin-top: 13px;
  margin-left: 40px;
  padding-bottom: 12px;
  cursor: pointer;
}

.hotels-order-label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -41px;
  z-index: 1;
  width: 17px;
  height: 17px;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.hotels-order-label::after {
  content: "";
  display: none;
  position: absolute;
  top: 0px;
  left: -37px;
  z-index: 2;
  border: 5px solid #ffffff;
  width: 15px;
  height: 7px;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ label::after {
  display: block;
}

.disabled-off::before,
.disabled-off-checked::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -41px;
  z-index: 10;
  width: 17px;
  height: 17px;
  border: 2px solid #6a6a6a;
  border-radius: 5px;
}

.disabled-off-checked::after {      /*---------------???????----------------*/
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: -37px;
  z-index: 20;
  border: 5px solid #6a6a6a;
  width: 15px;
  height: 7px;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
}

.disabled-off,
.disabled-off-checked {
  color: #6a6a6a;
  cursor: no-drop;
}

.hotels-order-bun,
.hotels-order-type {
  margin-left: 73px;
  padding-top: 26px;
  width: 183px;
}

.hotels-order-bun {
    margin-left: 0;
}

.hotels-order-cost {
  margin-left: auto;
  padding-top: 26px;
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.hotels-order h2 {
  margin: 0;
  margin-bottom: 25px;
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}

.hotels-order-cost > h2 {
  margin-bottom: 9px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;

}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-form {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-form:hover {
  color: #000000;
  background: #ffffff;
}


.result-order {
  display: flex;
  padding-left: 6%;
  padding-right: 6%;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.result-order ul {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 11px;
  list-style: none;
}

.result-order li {
  display: inline-block;
  margin-right: 35px;
  padding-top: 37px;
  padding-bottom: 34px;
  line-height: 14px;
  vertical-align: bottom;
}

.result-order li:first-child {
  margin-right: 42px;
}

.result-order-name {
  align-self: center;
  min-width: 135px;
  font-size: 21px;
  font-weight: bold;
  vertical-align: top;
}

.result-order-class {
  align-self: center;
  margin-left: 30px;
  width: 480px;
}

.result-order-class a {
  color: #cccccc;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.result-order-class a:hover {
  color: #81b3d2;
}

.result-order-class a:active {
  color: #000000;
  border-bottom: none;
}

.result-order-class .active {
  color: #81b3d2;
  border: none;
}

.result-order-ranging{
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 35px;
}

.result-order-ranging-up {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
  background-position: -4px -252px;
}

.result-order-ranging-down {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
  background-position: -24px -252px;
}

.result-order-ranging-up:hover {
  background-position: -43px -251px;
}

.result-order-ranging-down:hover {
  background-position: -66px -253px;
}

.result-order-ranging-up:active {
  background-position: -91px -251px;
}

.result-order-ranging-down:active {
  background-position: -117px -253px;
}

.result-order-ranging,
.img-rating {
  margin-left: auto;
  text-align: right;
}

.search-results-item {
  display: flex;
  align-content: center;
  padding-left: 6%;
  padding-right: 6%;
  min-height: 150px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.search-results-item-img {
  align-self: flex-start;
  padding-top: 30px;
  margin: 0;
  width: 135px;
  height: 90px;
  box-sizing: border-box;
}

.search-results-item-img img {
  width: 135px;
  height: 90px;
}

.search-results-item-index {
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;
  align-self: flex-start;
  padding-top: 27px;
  margin-left: 30px;
  width: 260px;
  min-height: 90px;
  box-sizing: border-box;
}

.search-results-item-index-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

.search-results-item-index-title:hover {
  color: #81b3d2;
}

.search-results-item-index-title:active {
  color: #b2b2b2  ;
}

.search-results-item-index p {
  margin: 0;
  margin-bottom: 14px;
  width: 117px;
}

.search-results-button-details {
  margin: 0;
  margin-right: 7px;
  width: 110px;
  height: 27px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  line-height: 27px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background-color: #81b3d2;
  box-sizing: border-box;
  cursor: pointer;
}

.search-results-button-details:hover {
  background-color: #669ec0;
}

.search-results-button-details:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.search-results-button-order {
  margin: 0;
  width: 142px;
  height: 27px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  line-height: 27px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background-color: #766357;
  box-sizing: border-box;
}

.search-results-button-order:hover {
  background-color: #604e43;
}

.search-results-button-order:active {
  color: #857871;
  background-color: #503e33;
}

.img-rating {
  align-self: flex-start;
  padding-top: 29px;
  box-sizing: border-box;
}

.img-rating li {
  display: inline-block;
  margin: 0;
  margin-left: 3px;
  width: 17px;
  height: 18px;
  list-style: none;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
  background-position: -105px -97px;
}

.img-rating ul {
  margin: 0;
  margin-bottom: 40px;
  text-align: right;
}

.img-rating span {
  display: inline-block;
  margin: 0;
  width: 108px;
  height: 27px;
  line-height: 27px;
  vertical-align: middle;
  text-align: center;
  background-color: #f2f2f2;
}

.footer-hotels {
  display: flex;
  justify-content: space-between;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
}
