body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

body h2 {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

body h3 {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
}

.header {
  margin: 0;
  min-height: 56px;
}

.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.navigation .navigation-flex-right {
  margin-left: auto;
}

.navigation li {
  margin: 0;
  width: 20%;
  line-height: 56px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
}

.navigation a {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation a:hover {
  color: #81b3d2;
}

.navigation a:active {
  color: #b2b2b2;
}

.navigation .active {
  color: #766357;
}

.logo {
  position: absolute;
  top: 0;
  left: 45%;
  z-index: 100;
}

/*--------------main--------------*/

.main-header-img {
  position: relative;
  padding-top: 75px;
  min-height: 508px;
  background-color: #97c4db;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.main-header-img::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url("../img/background-header-bottom.png");
  background-repeat: no-repeat;
  background-position: center;
}

.box-img {
  width: 458px;
  height: 356px;
  margin: 0 auto;
}

.promo {
  margin: 0;
  padding-top: 60px;
  min-height: 214px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.promo h2 {
  margin: 0 auto;
  padding-bottom: 30px;
  width: 445px;
  text-align: center;
  line-height: 26px;
}

.promo p {
  margin: 0;
  text-align: center;
}

.cause-first {
  display: flex;
  box-sizing: border-box;
}

.cause-first-left,
.cause-second-right {
  padding-top: 60px;
  width: 400px;
    min-height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
  box-sizing: border-box;
}

.cause-first-right,
.cause-second-left {
  width: 66%;
  min-height: 256px;
}

.cause-first-right img,
.cause-second-left img{
  width: 100%;
  height: 100%;
}

.cause-first-left h2,
.cause-second-right h2 {
  margin: 0 auto;
  margin-bottom: 24px;
  width: 150px;
  color: #ffffff;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}

.cause-first-left span,
.cause-second-right span {
  display: block;
  text-align: center;
}

.cause-first-left p,
.cause-second-right p {
  margin: 0;
  margin-top: 20px;
  padding-left: 52px;
  padding-right: 52px;
  text-align: center;
}

.features {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 330px;
  background-color: #ffffff;
}

.features-item,
.cause-rest-item {
  position: relative;
  width: 33%;
}

.features-item:first-child::before {
  content: "";
  position: absolute;
  top: 60px;
  width: 100%;
  height: 75px;
  background-image: url("../img/icon-features-1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.features-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 60px;
  width: 100%;
  height: 75px;
  background-image: url("../img/icon-features-2.png");
  background-repeat: no-repeat;
  background-position: center;
}

.features-item:last-child::before {
  content: "";
  position: absolute;
  top: 60px;
  width: 100%;
  height: 75px;
  background-image: url("../img/icon-features-3.png");
  background-repeat: no-repeat;
  background-position: center;
}

.features-name {
  margin: 0;
  margin-top: 160px;
  text-align: center;
}

.features-item p {
  margin: 0 auto;
  margin-top: 26px;
  width: 290px;
  text-align: center;
}

.cause-second {
  display: flex;
  box-sizing: border-box;
}

.cause-rest {
  display: flex;
  min-height: 256px;
  background-color: #eeeeee;
}

.cause-rest-item {
  text-align: center;
}

.cause-rest-item h3 {
  margin: 0 auto;;
  margin-top: 47px;
  margin-bottom: 25px;
  width: 120px;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.cause-rest-item p {
  margin: 0 auto;
  margin-top: 20px;
  width: 265px;
}

.order {
  position: relative;
  padding-top: 57px;
  height: 291px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.order h2 {
  display: block;
  margin: 0 auto;
  margin-bottom: 33px;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.order p {
  margin: 0 auto;
  margin-bottom: 49px;
  width: 440px;
  text-align: center;
  line-height: 23px;
}

.order a {
  display: block;
  margin: 0 auto;
  padding: 31px 130px;
  width: 568px;
  height: 88px;
  text-align: center;
  vertical-align: middle;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  background-color: #766357;
  box-sizing: border-box;
}

.order-form-none {
  display: none;
}

.order-form {
  position: absolute;
  bottom: -395px;
  left: 50%;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 55px;
  width: 568px;
  height: 395px;
  font-size: 14px;
  font-weight: bold;
  background-color: #ffffff;
  box-sizing: border-box;
  transform: translateX(-50%);
}

.order-form label:nth-of-type(1) {
  float: left;
  margin-top: 10px;
}

input[type="text"]:nth-of-type(1) {
  float: right;
  width: 338px;
  margin-bottom: 30px;
  padding: 13px 0 13px 13px;
  background-color: #f2f2f2;
  border: none;
}

.order-form label:nth-of-type(2) {
  float: left;
  margin-top: 54px;
}

input[type="text"]:nth-of-type(2) {
  float: right;
  width: 338px;
  margin-bottom: 30px;
  padding: 13px 0 13px 13px;
  background-color: #f2f2f2;
  border: none;
}

.order-form label:nth-of-type(3) {
  float: left;
  margin-top: 48px;
}

input[type="text"]:nth-of-type(3) {
  float: left;
  margin-left: 60px;
  margin-bottom: 30px;
  padding: 13px 0 13px 0;
  width: 65px;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
}

.order-form label:nth-of-type(4) {
  float: left;
  margin-top: 10px;
  margin-left: 80px;
}

input[type="text"]:nth-of-type(4) {
  float: right;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 55px;
  padding: 13px 0 13px 0;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
}

input[type="text"]:hover:nth-of-type(1),
input[type="text"]:hover:nth-of-type(2) {
  background-color: #ebebeb;
}

input[type="text"]:focus:nth-of-type(1),
input[type="text"]:focus:nth-of-type(2) {
  background-color: #ffffff;
  box-shadow: inset 0 0 5px #e5e5e5;
}

input[type="text"] {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.icon-calendar:nth-of-type(1) {
  position: absolute;
  display: block;
  right: 65px;
  top: 65px;
  width: 21px;
  height: 22px;
  background-image: url("../img/icon-calendar.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-calendar:nth-of-type(2) {
  position: absolute;
  display: block;
  right: 65px;
  top: 135px;
  width: 21px;
  height: 22px;
  background-image: url("../img/icon-calendar.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-calendar:hover {
  background-image: url("../img/icon-calendar-hover.png");
}

.icon-calendar:active {
  background-image: url("../img/icon-calendar-active.png");
}

.order-form button:nth-of-type(1) {
  position: absolute;
  left: 162px;
  top: 199px;
  width: 41px;
  height: 42px;
  font-size: 21px;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.order-form button:nth-of-type(2) {
  position: absolute;
  left: 237px;
  top: 199px;
  width: 40px;
  height: 42px;
  font-size: 21px;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.order-form button:nth-of-type(3) {
  position: absolute;
  right: 55px;
  top: 199px;
  width: 40px;
  height: 42px;
  font-size: 21px;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.order-form button:nth-of-type(4) {
  position: absolute;
  right: 130px;
  top: 199px;
  width: 40px;
  height: 42px;
  font-size: 21px;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.order-form button:hover {
  color: #000000;
}

.order-form button:active {
  color: #81b3d2;
}

.order-form button:focus,
input[type="text"]:focus {
  outline: none;
}

.order-form button[type="submit"] {
  position: static;
  clear: both;
  margin-top: 15px;
  width: 460px;
  height: 59px;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  background-color: #81b3d2;
  border: none;
  outline: none;
  cursor: pointer;
}

.order-form button[type="submit"]:hover {
  background-color: #669ec0;
}

.order-form button[type="submit"]:active {
  color: #7eb0cd;
  background-color: #5496bd;
}

.map {
  min-height: 593px;
  width: 100%;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}

.map iframe {
  width: 100%;
  height: 593px;
  border: none;
}

/*-------------------------footer-----------------*/

.inner-footer {
  position: relative;
}

.footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: -2px;
  left: 0;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-item {
  width: 33%;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
  font-size: 0;
}

.footer-item:first-child {
  font-size: 21px;
  font-weight: bold;
}

.footer-item:last-child {
  font-size: 14px;
}

.footer-item:last-child span {
  margin-right: 5px;
}

.social-btn {
  display: inline-block;
  margin-right: 6px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  vertical-align: middle;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active{
  background-color: #5496bd;
}

.social-btn-tv {
  background-image: url("../img/icon-tv.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn-tv:active {
  background-image: url("../img/icon-tv-active.png");
}

.social-btn-fb {
  background-image: url("../img/icon-fb.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn-fb:active {
  background-image: url("../img/icon-fb-active.png");
}

.social-btn-yt {
  background-image: url("../img/icon-yb.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn-yt:active {
  background-image: url("../img/icon-yb-active.png");
}

.btn {
  display: inline-block;
  width: 113px;
  height: 39px;
  vertical-align: middle;
  background-image: url("../img/logo-academy.png");
  background-repeat: no-repeat;
  background-position: center;
}

.btn:hover {
  background-image: url("../img/logo-academy-hover.png");
}

.btn:active {
  background-image: url("../img/logo-academy-active.png");
}

/*------------------------hotels-------------*/

.hotels-order {
  min-height: 218px;
  background: #3a6285 url("../img/background-hotel.jpg") no-repeat top;
}

.form-hotels-order {
  display: flex;
  color: #ffffff;
}

.form-hotels-order label {
  position: relative;
  display: block;
  margin-top: 25px;
  margin-left: 45px;
  cursor: pointer;
}

.form-hotels-order label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -44px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.form-hotels-order label::after {
  content: "";
  display: none;
  position: absolute;
  top: -3px;
  left: -40px;
  z-index: 2;
  border: 4px solid #ffffff;
  width: 21px;
  height: 10px;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ label::after {
  display: block;
}

input:disabled {      /*---------------???????----------------*/
  border-color: red;
}

.hotels-order-bun,
.hotels-order-type {
  margin-left: 73px;
  padding-top: 25px;
  width: 181px;
}

.hotels-order-cost {
  margin-right: 73px;
  margin-left: auto;
  padding-top: 25px;
}

.hotels-order h2 {
  margin-top: 0;
  color: inherit;
  font-size: 16px;
}

.price-range {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
  width: 315px;
  border: 2px solid #fff;
}

.price-range span {
  padding-top: 7px;
  padding-bottom: 7px;
}

.price-range span::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 3px;
  height: 27px;
  border: 1px solid #fff;
}

.skroll {
  position: relative;
  margin-top: 20px;
  margin-left: 15px;
  width: 240px;
  height: 2px;
  background: #ffffff;
}

.skroll_left,
.skroll_right {
  position: absolute;
  display: block;
  top: -8px;
  width: 20px;
  height: 20px;
  background: #fff;
  border: none;
  border-radius: 50%;
  z-index: 1;
}

.skroll_left {
  left: -3px;
  cursor: pointer;
}

.skroll_right {
  right: -10px;
  cursor: pointer;
}

.skroll_left::after,
.skroll_right::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  border: 2px solid #ababab;
  border-radius: 50%;
}

.skroll_right:hover::after {
  border-color: #1c4f80;
}

.skroll_field {
  position: absolute;
  right: -75px;
  width: 75px;
  height: 2px;
  background: #fff;
  opacity: 0.3;
}

.btn-form {
  margin-top: 30px;
  margin-left: 100px;
  width: 137px;
  height: 37px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.btn-form:hover {
  color: #000000;
  background-color: #ffffff;
}

.result-order {
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.result-order ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.result-order li {
  display: inline-block;
  line-height: 86px;
  vertical-align: baseline;
}

.result-order-name {
  align-self: center;
  margin-left: 73px;
  width: 140px;
  font-size: 21px;
  font-weight: bold;
}

.result-order-class {
  align-self: center;
  margin-left: 47px;
  width: 480px;
}

.result-order-class li {
  margin-right: 30px;
}

.result-order-class a {
  color: #cccccc;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.result-order-class a:hover {
  color: #81b3d2;
}

.result-order-class a:active {
  color: #000000;
  border-bottom: none;
}

.result-order-class .active {
  color: #81b3d2;
  border: none;
}

.result-order-ranging{
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 37px;
}

.result-order-ranging-up {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-sorting-up.png");
  background-repeat: no-repeat;
  background-position: center;
}

.result-order-ranging-down {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-sorting-down.png");
  background-repeat: no-repeat;
  background-position: center;
}

.result-order-ranging-up:hover {
  background-image: url("../img/icon-sorting-up-hover.png");
}

.result-order-ranging-down:hover {
  background-image: url("../img/icon-sorting-down-hover.png");
}

.result-order-ranging-up:active {
  background-image: url("../img/icon-sorting-up-active.png");
}

.result-order-ranging-down:active {
  background-image: url("../img/icon-sorting-down-active.png");
}

.result-order-ranging,
.img-rating {
  margin-right: 73px;
  margin-left: auto;
  text-align: right;
}

.search-results-item {
  display: flex;
  min-height: 151px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.search-results-item-img {
  margin: 0;
  margin-left: 73px;
  width: 135px;
  align-self: center;
}

.search-results-item-index {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  margin-left: 32px;
  margin-top: 23px;
  width: 260px;
  height: 105px;
}

.search-results-item-index-title {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.search-results-item-index-title:hover {
  color: #81b3d2;
}

.search-results-item-index-title:active {
  color: #b2b2b2  ;
}

.search-results-item-index p {
  margin: 0;
  width: 117px;
}

.search-results-button-details {
  margin: 0;
  margin-right: 7px;
  width: 110px;
  height: 27px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  line-height: 27px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background-color: #81b3d2;
  box-sizing: border-box;
  cursor: pointer;
}

.search-results-button-details:hover {
  background-color: #669ec0;
}

.search-results-button-details:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.search-results-button-order {
  margin: 0;
  width: 142px;
  height: 27px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  line-height: 27px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background-color: #766357;
  box-sizing: border-box;
}

.search-results-button-order:hover {
  background-color: #604e43;
}

.search-results-button-order:active {
  color: #857871;
  background-color: #503e33;
}

.img-rating {
  padding-top: 25px;
}

.img-rating li {
  display: inline-block;
  margin: 0;
  margin-left: 1px;
  width: 17px;
  height: 18px;
  list-style: none;
  background-image: url("../img/icon-raiting.png");
  background-repeat: no-repeat;
  background-position: center;
}

.img-rating ul {
  margin: 0;
  margin-bottom: 40px;
  text-align: right;
}

.img-rating span {
  display: inline-block;
  margin: 0;
  width: 110px;
  height: 27px;
  line-height: 27px;
  vertical-align: middle;
  text-align: center;
  background-color: #f2f2f2;
}

.footer-hotels {
  display: flex;
  justify-content: space-between;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
}
